/* Built from SASS */
/*
Example usage of YAGS grid
Note that my use of lots of IDs here isn't a suggestion that you should use so many IDs - its just for convenience!
*/

/* resets */
body {
	margin: 0;
	padding: 0;
	background-color: #eeeeee;
	font-size: 12px;
}

@import "yags.scss";

.block-group {
	@include row();
	background-color: black;
}

.block {
	text-align: center;
	background-color: #888888;
}

.block-inner {
	@include col-inner();
	background-color: #dddddd;
	padding: 10px;
	border: 1px dashed black;
	height: 100px;
}

.block-small {
	@include col(1, 1, 1);
}

.block-medium {
	@include col(4, 4, 2);
}

.block-large {
	@include col(6, 12, 6);
}

.block-xlarge {
	@include col(12, 12, 6);

	.block-inner {
		@include bleed($left:true, $right:true);
	}
}

#block-sixteen {
	.block-inner {
		@include bleed($left:true, $right:false);
	}
}

#block-seventeen {
	.block-inner {
		@include bleed($left:true, $right:true);
	}
}

#block-eighteen {
	.block-inner {
		@include bleed($left:false, $right:true);
	}
}

#block-twentytwo {
	@include col(2, 2, 1);
	@include offset-right(2, 1, 1);
}

#container-two {
	@include row(true, true);
	margin-top: 30px;

	.block-inner {
		@include bleed($left:true, $right:true);
	}
}


