/* Built from SASS */
/*
Example usage of YAGS grid
Note that my use of lots of IDs here isn't a suggestion that you should use so many IDs - its just for convenience!
*/

/* resets */
body {
	margin: 0;
	padding: 0;
	background-color: #eeeeee;
	font-size: 12px;
}

@import "yags.scss";

.block-group {
	@include row();
	background-color: black;
}

.block {
	@include col(1, 1, 1);
	text-align: center;
	background-color: black;
}

.block-inner {
	@include col-inner();
	background-color: #dddddd;
	padding: 10px;
	border: 1px dashed black;
	height: 100px;
}

#thirteen {
	@include col(2, 2, 1);
}

#fourteen {
	@include col(3, 3, 2);
}

#fifteen {
	@include col(4, 4, 2);
}

#sixteen {
	@include col(3, 3, 1);
}

#seventeen {
	@include col(2, 2, 1);

	.block-inner {
		@include bleed($left:false, $right:true);
	}
}

#eighteen {
	@include col(3, 3, 1);
}

#nineteen {
	@include col(4, 4, 3);
}

#twenty {
	@include col(3, 3, 1);

	.block-inner {
		@include bleed($left:true, $right:false);
	}
}

#twentyone {
	@include col(12, 12, 6);
}

#twentytwo {
	@include col(4, 4, 1);
}

#twentythree {
	@include col(3, 3, 1);
}

#twentyfour {
	@include col(3, 3, 2);
	@include offset-right(2, 2, 2);
}

#twentysix {
	@include col(3, 3, 2);
	@include offset-left(3, 3, 2);
}

#twentyseven {
	@include col(5, 5, 1);
}

#eighteen .block-inner, #nineteen .block-inner, #twentyone .block-inner {
	@include bleed();
}

