/* Built from SASS */
/*
Example usage of YAGS grid
Note that my use of lots of IDs here isn't a suggestion that you should use so many IDs - its just for convenience!
*/

/* resets */
body {
	margin: 0;
	padding: 0;
	background-color: #eeeeee;
	font-size: 12px;
}

@import "yags.scss";

.block-group {
	@extend .row;
}

.block {
	text-align: center;
}

.block-inner {
	@extend .col-gutter;
	background-color: #dddddd;
	padding: 10px;
	border: 1px dashed black;
	height: 100px;
}

.block-small {
	@include col(1, 1, 1);
}

.block-medium {
	@include col(4, 4, 2);
}

.block-large {
	@include col(6, 12, 6);
}

.block-xlarge {
	@include col(12, 12, 6);

	.block-inner {
		@extend .bleed-left;
		@extend .bleed-right;
	}
}

#block-sixteen {
	.block-inner {
		@extend .bleed-left;
	}
}

#block-seventeen {
	.block-inner {
		@extend .bleed-left;
		@extend .bleed-right;
	}
}

#block-eighteen {
	.block-inner {
		@extend .bleed-right;
	}
}

#block-twentytwo {
	@include col(2, 2, 1);
	@include offset-right(2, 1, 1);
}

#block-twentyfive {
	@include push(4, 4, 2);
}

#block-twentysix {
	@include pull(4, 4, 2);
}

.block-group-no-gutter {
	@extend .row-without-gutter;
}

/*
Grid overlay 
*/
.grid-overlay {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 9999;
	background-color: red;
	opacity: 0.3;
}

.grid-overlay-row {
	@extend .row;
	height: 100%;
}

.overlay-col {
	height: 100%;
	@include col(1, 1, 1);

	.inner {
		height: 100%;
	z-index: 9999;
		@extend .col-gutter;
		background-color: blue;
		opacity: 0.5;
	}
}

/*
Grid specified from HTML
*/
#from-html .col-gutter {
	background-color: #eeeeee;
	border: 1px dashed black;
	height: 100px;
}
