/* Built from LESS */
/*
Example usage of YAGS grid
Note that my use of lots of IDs here isn't a suggestion that you should use so many IDs - its just for convenience!
*/

/* resets */
body {
	margin: 0;
	padding: 0;
	background-color: #eeeeee;
	font-size: 12px;
}

@import "yags.less";

.block-group {
	.row();
	background-color: black;
}

.block {
	text-align: center;
	background-color: #888888;
}

.block-inner {
	.col-inner();
	background-color: #dddddd;
	padding: 10px;
	border: 1px dashed black;
	height: 100px;
}

.block-small {
	.col(1, 1, 1);
}

.block-medium {
	.col(4, 4, 2);
}

.block-large {
	.col(6, 12, 6);
}

.block-xlarge {
	.col(12, 12, 6);

	.block-inner {
		.bleed(@left:true, @right:true);
	}
}

#block-sixteen {
	.block-inner {
		.bleed(@left:true, @right:false);
	}
}

#block-seventeen {
	.block-inner {
		.bleed(@left:true, @right:true);
	}
}

#block-eighteen {
	.block-inner {
		.bleed(@left:false, @right:true);
	}
}

#block-twentytwo {
	.col(2, 2, 1);
	.offset-right(2, 1, 1);
}

#container-two {
	.row(true, true);
	margin-top: 30px;

	.block-inner {
		.bleed(@left:true, @right:true);
	}
}


